<mat-toolbar class="main-header">
    <mat-icon class="mat-icons menu-trigger" (click)="mobilenav.toggle()">menu</mat-icon>
    <h1><a routerLink="/" (click)="mobilenav.close()">ng6-heroes-blog</a></h1>
    <span class="fill-space"></span>
    <ul>
      <span class="nav-item">
            <li>
              <a routerLink="/blog" class="color-main">Blog</a>
            </li>
            <li>
              <a routerLink="/about" class="color-main">About</a>
            </li>
            
      </span>
      <li class="search-nav">
        <mat-icon (click)="mobilenav.close()" routerLink="/search" class="color-main">search</mat-icon>
      </li>
      <li>
        <button mat-raised-button (click)="login()">Login</button>
      </li>
    </ul>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #mobilenav mode="over" class="mobile-nav">
    <div class="mobile-nav-item">
      <a routerLink="/blog" class="color-main">Blog</a>
    </div>
    <div class="mobile-nav-item">
      <a routerLink="/about" class="color-main">About</a>
    </div>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
